:root {
    --primary-color: #013F75;
    /* A cor principal do Colégio Céu Estrelado */
    --hover-color: #026BB6;
    /* Cor do hover para links */
    --secundary-color: #F58C05;
    --secundary-background-color: #f6f6f6;
}

.slide-contatos {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
        url('../assets/Header-contatos.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 250px;
}

.card-contatos {
    border-radius: 10px;
    border: 3px solid var(--primary-color);
}

.vamos-conversar {
    padding-top: 200px;
}

.img-offset-up {
    position: absolute;
    bottom: -60px;
    left: 5%;
}

@media (max-width: 991px) {
    .vamos-conversar {
        padding-top: 50px;
    }
}

@media (max-width: 769px) {
    .vamos-conversar {
        padding-top: 0px;
    }
}

@media (max-width: 577px) {
    .vamos-conversar {
        padding-top: 0px;
    }

    .img-offset-up {
        position: relative;
        bottom: 0;
        left: 5%;
    }
}