:root {
    --primary-color: #013F75;
    /* A cor principal do Colégio Céu Estrelado */
    --hover-color: #026BB6;
    /* Cor do hover para links */
    --secundary-color: #F58C05;
    --secundary-background-color: #f6f6f6;
}

.oculto {
    visibility: hidden;
}

.text-justify {
    text-align: justify;
}

.cor-primaria {
    color: var(--primary-color);
    text-align: inherit;
}

.cor-secundaria {
    color: var(--secundary-color);
    text-align: inherit;
}

.slide-escola {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
        url('../assets/Header.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.btn-principal {
    background-color: var(--secundary-color);
    color: white;
    font-weight: bold;
}

.texto-preenchendo {
    text-align: justify;
}

.bg-primario {
    background-color: var(--primary-color);
}

.bg-secundario {
    background-color: var(--secundary-background-color);
}

.p-segmentos {
    padding: 3rem 6rem 3rem 2rem;
    border-radius: 65px;
}

.img-segmentos {
    width: 350px;
    border-radius: 25px;
    position: relative;
    right: 80px;
    box-shadow: 18px 21px 37px -10px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 18px 21px 37px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 18px 21px 37px -10px rgba(0, 0, 0, 0.75);
}


.Segmentos {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.box-slide-carrousel {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.caixa-texto {
    width: 50%;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 65px;
    padding: 30px 90px 30px 30px;
    box-sizing: border-box;
    color: white;
}

.caixa-texto h3 {
    font-size: 2rem;
    font-weight: 600;
}

.img-segmentos {
    height: 350px;
    border-radius: 25px;
    position: relative;
    right: 80px;
    box-shadow: 18px 21px 37px -10px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 18px 21px 37px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 18px 21px 37px -10px rgba(0, 0, 0, 0.75);
}

.galeria {
    background-image: url('../assets/Gallery.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.img-galeria {
    border-radius: 30px;
}

.footer {
    background-color: var(--primary-color);
}

.anim {
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.anim:hover {
    transform: scale(1.05);
}

.lightbox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.lightbox-overlay.active {
    opacity: 1;
    /* Torna visível */
    visibility: visible;
    /* Torna o elemento visível */
}

.lightbox-image {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transform: scale(0.8);
    transition: transform 0.3s ease-in-out;
    /* Transição para o scale */
}

.lightbox-overlay.active .lightbox-image {
    transform: scale(1);
    /* Expande para o tamanho normal quando ativo */
}

.lightbox-close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #fff;
    font-size: 40px;
    cursor: pointer;
    z-index: 2001;
    /* Acima da imagem */
    transition: color 0.2s ease-in-out;
}

.lightbox-close:hover {
    color: #ccc;
    /* Cor ao passar o mouse */
}

body.no-scroll {
    overflow: hidden;
}

#feedbackMessages {
    width: 100%;
    /* Garante que ocupe a largura total */
    box-sizing: border-box;
    /* Inclui padding e borda na largura total */
}

@media (max-width: 991px) {

    .box-slide-carrousel {
        flex-direction: column-reverse;
    }

    .caixa-texto {
        width: 90%;
        background-color: var(--primary-color);
        display: flex;
        flex-direction: column;
        padding: 200px 20px 20px 20px;
    }

    .caixa-texto h3 {
        font-size: 2rem;
        font-weight: 600;
    }

    .img-segmentos {
        width: 80%;
        height: auto;
        position: relative;
        right: 0px;
        top: 150px;
    }
}

@media (max-width: 768px) {
    .slide-escola {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url('../assets/Header-mobile.webp');
    }
}